body {
    background-color: white;
    margin: 20px 300px;
}

#title {
    font-size: 50px;
    text-align: center;
}

img { 
    display: inline-block;
    width: 100%;
}

.text-container {
    background-color: rgba(35, 27, 33, 0.25);
    box-shadow: 20px 20px 20px #100f12;
    font-family: Georgia;
    padding: 35px 35px;
    margin-top: 20px;
}

.heading {
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px white;
}
